<dl>
  <dt>Температура:</dt>
  <dd id="sens-temp">Н/Д</dd>
  <dt>Вологість:</dt>
  <dd id="sens-hum">Н/Д</dd>
  <dt>Тиск:</dt>
  <dd id="sens-pres">Н/Д</dd>
  <dt>Опис:</dt>
  <dd id="sens-descr">Н/Д</dd>
  <dt>Час оновлення:</dt>
  <dd id="sens-date">Н/Д</dd>
</dl>

<canvas
  id="sens-chart"
  style="margin-top: 1rem; width: 100%; max-width: 800px"
></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src="/assets/js/main.js"></script>
